:root {
  --bg: #030A0A;
  --primary: #04AD7B;
  --secondary: #37D9D9;
  --card: rgb(4, 15, 15, 70%);
  --border-gradient: linear-gradient(127deg, rgba(105, 105, 105, 0.329) 0%, rgb(54, 54, 54, 100%) 100%);
  --text: #C0C0C0;
  --gradient: linear-gradient(45deg, #ff6b6b, #f06595);
}

* {
  font-family: "poppins", montserrat, sans-serif;
}

.html {
  overflow: hidden;
}

body {
  background-color: var(--bg);
  color: var(--text);
  margin: 0;



}

a {
  text-decoration: none;
  color: none;

}

a:hover {
  color: none;
}

.main {
  position: relative;
  background-color: #040F0F10;
  backdrop-filter: blur(40px);
  overflow: hidden;
}

.draft {
  font-size: 164px;
  color: #C0C0C010;
  font-weight: bold;
  position: absolute;

}

.dev {
  top: 600px;
  right: 0px;
}

.des {
  top: 60px;

}

.triangle {
  width: 200px;
  height: 500px;
  border-radius: 100px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(5px);
  position: absolute;
  top: -200px;
  margin-bottom: 3px;
  background-color: #04AD7B40;
  z-index: -5;
  transform: rotate(127deg);

}

.triangle2 {
  width: 200px;
  height: 500px;
  border-radius: 100px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 600px;
  right: 1px;
  margin-bottom: 3px;
  background-color: #37D9D940;
  z-index: -100;
  transform: rotate(127deg);

}

.container {

  width: 70%;
  margin: 0px auto;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navlinks {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid rgba(105, 105, 105, 0.329); */
    border: 2px solid rgb(46, 44, 44);
    border-radius: 1000px;
    padding: 8px 4px;
    width: fit-content;
  }


  .navlinks:hover {
    box-shadow: 0 0px 5px 0 var(--primary), 0 0px 5px 0 var(--secondary);
  }



}


.logo {
  line-height: 16px;
}



ul {
  list-style-type: none;
}

li {

  padding: 5px;

}

a {
  font-size: 1rem;
}

.links {
  padding: 6px 16px;
}

.links:hover {
  background-color: #142121;
  padding: 6px 16px;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;



}

.heropage {
  height: 80vh;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoskills {
  width: 130px;

  display: flex;
  flex-direction: column;
  padding-right: 30px;
  position: relative;
  height: 300px;

}

.boxis {
  border: 1px solid #222222;
  border-radius: 8px;
}

.boxis:hover {
  color: #04AD7B;
}

.ts {
  position: absolute;
  top: 10px;
  left: 80px;
  color: #1d5746;

}

.re {
  position: absolute;
  top: 80px;
  left: 10px;
  color: #1E745B
}

.js {
  position: absolute;
  top: 130px;
  left: 110px;
  color: #1E745B
}

.ta {
  position: absolute;
  top: 180px;
  left: 40px;
  color: #1E745B
}

.fl {
  position: absolute;
  top: 220px;
  left: 150px;
  color: #1E745B
}



.tsl {
  position: absolute;
  top: 10px;
  left: 80px;
  color: #1d5746;

}

.rel {
  position: absolute;
  top: 80px;
  left: 150px;
  color: #1E745B
}

.jsl {
  position: absolute;
  top: 130px;
  left: 60px;
  color: #1E745B
}

.tal {
  position: absolute;
  top: 180px;
  left: 130px;
  color: #1E745B
}

.fll {
  position: absolute;
  top: 220px;
  left: 10px;
  color: #1E745B
}

.image-container {
  margin-left: 50px;
  border-radius: 100%;
  box-shadow: 0 0px 10px 0 var(--primary), 0 0px 10px 0 var(--secondary);
  width: 155px;
  height: 155px;



  img {
    border-radius: 100%;
    object-fit: cover;
    width: 155px;
    height: 155px;
    image-resolution: gray-scale;

  }
}

.image-container:hover {
  box-shadow: 0 0px 20px 0 var(--primary), 0 0px 20px 0 var(--secondary);
  transition: 0.5s;
}

.btn {
  position: relative;
  padding: 10px 30px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: normal;
  background-color: #1E745B;
  color: var(--text);
  border-radius: 50px;
  border: none;
  box-shadow: 0 0px 10px 0 var(--primary), 0 0px 10px 0 var(--secondary);

}

.btn:hover {
  background-color: #1f7c62;
  box-shadow: 0 0px 15px 0 var(--primary), 0 0px 15px 0 var(--secondary);
  transition: 0.5s;

}

.down {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  position: absolute;
  top: 1;
  right: 3px;
  background-color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--card);
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span {
  color: var(--primary);
  font-weight: 500;
  font-size: 25px;
}



.name {
  margin: 0;
  font-size: 64px;
  font-weight: bold;
  line-height: 70px;

}

.image {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}









/* about me section  */
.ampage {

  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}


.page-title {
  border: 2px solid gray;
  border-radius: 100px;
  padding: 0;
  margin-bottom: 30px;
}

.title {
  margin: 0;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.grid-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 270px);
  gap: 12px;
}

.box {
  border: 1px solid rgb(44, 43, 43);
  border-radius: 20px;
  background-color: var(--card);
  backdrop-filter: blur(50px);
  padding: 10px 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.am-image-container {

  border-radius: 100%;
  box-shadow: 0 0px 10px 0 var(--primary), 0 0px 10px 0 var(--secondary);
  width: 155px;
  height: 155px;

  img {
    border-radius: 100%;
    object-fit: cover;
    width: 155px;
    height: 155px;

  }
}

.amimage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amtext {
  grid-column: span 3;

}

.amsocialmedia {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.socialm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2 0px;
}

.ameducation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.dep {
  font-weight: bold;
}


.amquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}












/* skill section */
.skill-page {
  padding: 50px 0;
  margin-bottom: 50px;
}

.page-title {
  border: 2px solid rgb(32, 32, 32);
  border-radius: 100px;

  margin-bottom: 30px;
  width: fit-content;

}

.title {
  margin: 0;
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 500;
}



.skill-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.skill-logo-container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}













/* project section */

.project-page {
  height: fit-content;

}

.project-container {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;


}

.projects {
  width: 385px;
  height: 330px;
  border-radius: 30px;
  box-sizing: border-box;
  border: 1px solid rgb(49, 45, 45);
  padding: 30px 40px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;


}

.project-heading {}

.project-title {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0px 20px;

}

p {
  font-size: 16px;
}

.stack-container {
  width: 200px;
  height: 80px;

  border-radius: 20px;
  background-color: #0E1717;
  box-sizing: border-box;


  display: flex;
  align-items: center;
  justify-content: center;
}

.stacks {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.project-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* .projects-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 250px);
  gap: 20px;
}

.cards {
  border: 1px solid rgb(58, 54, 54);
  border-radius: 20px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.card-heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stack-container {
  width: 100%;
  height: 60px;
  background-color: #142121;
  margin-left: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.stacks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.two {
  grid-column: span 2;
}

.three {
  grid-column: span 2;
} */


/* footer section */

.footer-container {
  height: 30dvh;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
}

.contacts {
  display: flex;
  gap: 30px;
}

.copyright {
  margin-top: 20px;
  color: #777979;
}