:root {
  --bg: #030A0A;
  --primary: #04AD7B;
  --secondary: #37D9D9;
  --card: rgb(4, 15, 15, 70%);
  --border: linear-gradient(127deg, rgb(105, 105, 105, 33%) 0%, rgb(54, 54, 54, 100%) 100%);
}

* {
  font-family: "poppins", montserrat, sans-serif;
}

html,
body {
  margin: 0;
}

.container {
  border: 1px solid black;
  width: 80%;
  margin: 0px auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks {
  display: flex;
  border: 1px solid magenta;
  padding: 2px auto;
}

ul {
  list-style-type: none;
}

li {
  margin-right: 20px;
  padding: 5px;
  border: 1px solid magenta;
}

.heropage {
  border: 1px solid magenta;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

/* about me section  */
.ampage {
  border: 1px solid magenta;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
}

.box {
  border: 1px solid magenta;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.amtext {
  grid-column: span 3;
}

.amsocialmedia {
  grid-column: span 2;
}

/* skill section */
.skill-page {
  padding: 50px 0;
}

.skill-container {
  border: 1px solid magenta;
  height: fit-content;
  display: flex;
  gap: 10px;
  align-items: center;
}



/* project section */

.project-page {
  border: 1px solid magenta;
  height: 80dvh;
}


.projects-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 20px;
}

.cards {
  border: 1px solid magenta;
  padding: 10px;
}

.two {
  grid-column: span 2;
}

.three {
  grid-column: span 2;
}


/* project section */

.footer-container {
  height: 30dvh;
  border: 1px solid magenta;
}